@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
  --primary-font: 'Bellefair', serif;
  --secondary-font:'Barlow', sans-serif;
  --header-font:'Barlow Condensed', sans-serif;

  --primary-text:#ffff;
  --secondary-text:#D0D6F9;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}